aiohttp
aiosignal
alpha-vantage
appdirs
async-timeout
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
frozendict
frozenlist
html5lib
idna
lxml
multidict
multitasking
numpy
pandas
pycparser
python-dateutil
pytz
requests
six
soupsieve
tzdata
urllib3
webencodings
yarl
yfinance
